.myBtn {
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;

    transition: all .2s ease-in-out;
}
.myBtn:hover{
    color: #fff;
    background: teal;
}